In [9]:
pip install snowflake-connector-python pandas python-dotenv cryptography

Requirement already satisfied: snowflake-connector-python in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (3.17.4)
Requirement already satisfied: pandas in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: python-dotenv in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: cryptography in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (46.0.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (1.5.1)
Requirement already satisfied: boto3>=1.24 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (1.40.40)
Requirement already satisfied: botocore>=1.24 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (1.40.40)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (1.17.1)
Requirement already satisfied: pyOpenSSL<26.0.0,>=22.0.0 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (25.3.0)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (2.10.1)
Requirement already satisfied: pytz in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (2025.2)
Requirement already satisfied: requests<3.0.0 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (2.32.4)
Requirement already satisfied: packaging in c:\users\john8\appdata\roaming\python\python313\site-packages (from snowflake-connector-python) (25.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (2025.8.3)
Requirement already satisfied: typing_extensions<5,>=4.3 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (4.15.0)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (3.19.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in c:\users\john8\appdata\roaming\python\python313\site-packages (from snowflake-connector-python) (4.4.0)
Requirement already satisfied: tomlkit in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from snowflake-connector-python) (0.13.3)
Requirement already satisfied: pycparser in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.23)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0->snowflake-connector-python) (2.5.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from boto3>=1.24->snowflake-connector-python) (1.0.1)
Requirement already satisfied: s3transfer<0.15.0,>=0.14.0 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from boto3>=1.24->snowflake-connector-python) (0.14.0)
Requirement already satisfied: six>=1.5 in c:\users\john8\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import os
from dotenv import load_dotenv
from cryptography.hazmat.primitives import serialization
import snowflake.connector
import pandas as pd

#Bloque exclusivo de importacion de librerias

In [11]:
load_dotenv('.env')

private_key_pem = os.getenv("SNOWFLAKE_PRIVATE_KEY").replace('\\n', '\n')

private_key_obj = serialization.load_pem_private_key(
    private_key_pem.encode('utf-8'),
    password=None,
)
private_key_der = private_key_obj.private_bytes(
    encoding=serialization.Encoding.DER,
    format=serialization.PrivateFormat.PKCS8,
    encryption_algorithm=serialization.NoEncryption()
)

conn = None

try:
    conn = snowflake.connector.connect(
    user=os.getenv("SNOWFLAKE_USER"),
    private_key=private_key_der,
    account=os.getenv("SNOWFLAKE_ACCOUNT"),
    warehouse=os.getenv("SNOWFLAKE_WAREHOUSE"),
    database=os.getenv("SNOWFLAKE_DATABASE"),
    schema=os.getenv("SNOWFLAKE_SCHEMA")
    )
    print("Conectado a Snowflake exitosamente")
except Exception as e:
    print(f"No conectado por: {e}")

Conectado a Snowflake exitosamente

In [12]:
pd.set_option('display.max_rows', None)

pd.set_option('display.max_columns', None)

In [13]:
print("Pregunta de Negocio 1: Demanda por zona y mes: ¿cuáles son las 10 zonas con más viajes por mes? (Pickup Zone)")

# query para zonas más demandadas por mes en pickup
query = """
with viajes_por_zona as (
    select 
        t.pickup_zone_sk,
        dz.pickup_zone,
        dd.month as mes,
        count(*) as total_de_viajes
    from taxis_gold.fct_trips as t
    join taxis_gold.dim_zone_pickup as dz using (pickup_zone_sk)
    join taxis_gold.dim_date_pickup as dd using (pickup_date_sk)
    group by t.pickup_zone_sk, dz.pickup_zone, dd.month
),

top10_por_mes as (
    select v1.*
    from viajes_por_zona v1
    where (
        select count(*)
        from viajes_por_zona v2
        where v2.mes = v1.mes
          and v2.total_de_viajes > v1.total_de_viajes
    ) < 10
)

select *
from top10_por_mes
order by mes, total_de_viajes desc;
"""

# Ejecutar query y devolver DataFrame
df = pd.read_sql(query, conn)

# Ver resultados
print(df)

Pregunta de Negocio 1: Demanda por zona y mes: ¿cuáles son las 10 zonas con más viajes por mes? (Pickup Zone)

C:\Users\john8\AppData\Local\Temp\ipykernel_25788\3884383967.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

     PICKUP_ZONE_SK                   PICKUP_ZONE  MES  TOTAL_DE_VIAJES
0               237         Upper East Side South    1          2834868
1               236         Upper East Side North    1          2714159
2               161                Midtown Center    1          2664068
3               162                  Midtown East    1          2323551
4               230     Times Sq/Theatre District    1          2293955
5               186  Penn Station/Madison Sq West    1          2280393
6               234                      Union Sq    1          2133446
7               170                   Murray Hill    1          2109537
8                48                  Clinton East    1          2046545
9               142           Lincoln Square East    1          2024501
10              237         Upper East Side South    2          2707492
11              161                Midtown Center    2          2621065
12              236         Upper East Side North    2          2559981
13              162                  Midtown East    2          2292476
14              186  Penn Station/Madison Sq West    2          2238322
15              230     Times Sq/Theatre District    2          2210171
16              234                      Union Sq    2          2137791
17              170                   Murray Hill    2          2092298
18               48                  Clinton East    2          2011159
19              142           Lincoln Square East    2          1976230
20              237         Upper East Side South    3          2790909
21              161                Midtown Center    3          2755605
22              236         Upper East Side North    3          2567966
23              162                  Midtown East    3          2426603
24              186  Penn Station/Madison Sq West    3          2373982
25              230     Times Sq/Theatre District    3          2364047
26              170                   Murray Hill    3          2239670
27              234                      Union Sq    3          2211474
28               48                  Clinton East    3          2159759
29               79                  East Village    3          2034342
30              237         Upper East Side South    4          2790859
31              161                Midtown Center    4          2581483
32              236         Upper East Side North    4          2541657
33              162                  Midtown East    4          2244296
34              186  Penn Station/Madison Sq West    4          2179960
35              230     Times Sq/Theatre District    4          2145935
36              170                   Murray Hill    4          2058221
37              234                      Union Sq    4          2048669
38               48                  Clinton East    4          1996022
39              142           Lincoln Square East    4          1972105
40              237         Upper East Side South    5          2922277
41              236         Upper East Side North    5          2648651
42              161                Midtown Center    5          2516330
43              162                  Midtown East    5          2222808
44              186  Penn Station/Madison Sq West    5          2174013
45              230     Times Sq/Theatre District    5          2092885
46              142           Lincoln Square East    5          2068363
47              170                   Murray Hill    5          2065507
48              234                      Union Sq    5          2016508
49               48                  Clinton East    5          2009581
50              237         Upper East Side South    6          2665659
51              161                Midtown Center    6          2432109
52              236         Upper East Side North    6          2389610
53              162                  Midtown East    6          2186949
54              186  Penn Station/Madison Sq West    6          2147122
55              170                   Murray Hill    6          2047482
56              230     Times Sq/Theatre District    6          2009125
57               48                  Clinton East    6          1953647
58              132                   JFK Airport    6          1928027
59              234                      Union Sq    6          1926050
60              161                Midtown Center    7          2366279
61              237         Upper East Side South    7          2198184
62              186  Penn Station/Madison Sq West    7          2158314
63              162                  Midtown East    7          2082694
64              230     Times Sq/Theatre District    7          1974640
65              170                   Murray Hill    7          1963599
66              132                   JFK Airport    7          1956502
67              236         Upper East Side North    7          1870718
68               48                  Clinton East    7          1833990
69              234                      Union Sq    7          1790289
70              161                Midtown Center    8          2210932
71              186  Penn Station/Madison Sq West    8          2044071
72              237         Upper East Side South    8          1978636
73              162                  Midtown East    8          1944308
74              170                   Murray Hill    8          1859586
75              132                   JFK Airport    8          1850719
76              230     Times Sq/Theatre District    8          1829186
77              234                      Union Sq    8          1741669
78               48                  Clinton East    8          1727384
79              236         Upper East Side North    8          1674489
80              237         Upper East Side South    9          2363011
81              236         Upper East Side North    9          2151022
82              161                Midtown Center    9          1998807
83              186  Penn Station/Madison Sq West    9          1961557
84              162                  Midtown East    9          1863175
85              132                   JFK Airport    9          1801595
86              230     Times Sq/Theatre District    9          1789517
87              170                   Murray Hill    9          1781006
88              234                      Union Sq    9          1761616
89               48                  Clinton East    9          1756329
90              237         Upper East Side South   10          2766528
91              236         Upper East Side North   10          2507003
92              161                Midtown Center   10          2418456
93              162                  Midtown East   10          2133340
94              186  Penn Station/Madison Sq West   10          2122946
95              230     Times Sq/Theatre District   10          2014346
96              142           Lincoln Square East   10          1956048
97              170                   Murray Hill   10          1955307
98              234                      Union Sq   10          1937045
99               48                  Clinton East   10          1909817
100             237         Upper East Side South   11          2641128
101             236         Upper East Side North   11          2399784
102             161                Midtown Center   11          2327037
103             186  Penn Station/Madison Sq West   11          2037452
104             162                  Midtown East   11          2003958
105             230     Times Sq/Theatre District   11          1943016
106             142           Lincoln Square East   11          1845503
107              48                  Clinton East   11          1796954
108             170                   Murray Hill   11          1793054
109             234                      Union Sq   11          1782377
110             237         Upper East Side South   12          2640129
111             236         Upper East Side North   12          2411732
112             161                Midtown Center   12          2217600
113             186  Penn Station/Madison Sq West   12          2051190
114             162                  Midtown East   12          2012882
115             142           Lincoln Square East   12          1931232
116             230     Times Sq/Theatre District   12          1925541
117              48                  Clinton East   12          1853945
118             170                   Murray Hill   12          1807992
119             234                      Union Sq   12          1777003

In [14]:
print("Pregunta de Negocio 1: Demanda por zona y mes: ¿cuáles son las 10 zonas con más viajes por mes? (Dropoff Zone)")


# query para zonas más demandadas por mes en dropoff
query = """
with viajes_por_zona as (
    select 
        t.dropoff_zone_sk,
        dz.dropoff_zone,
        dd.month as mes,
        count(*) as total_de_viajes
    from taxis_gold.fct_trips as t
    join taxis_gold.dim_zone_dropoff as dz using (dropoff_zone_sk)
    join taxis_gold.dim_date_dropoff as dd using (dropoff_date_sk)
    group by t.dropoff_zone_sk, dz.dropoff_zone, dd.month
),

top10_por_mes as (
    select v1.*
    from viajes_por_zona v1
    where (
        select count(*)
        from viajes_por_zona v2
        where v2.mes = v1.mes
          and v2.total_de_viajes > v1.total_de_viajes
    ) < 10
)

select *
from top10_por_mes
order by mes, total_de_viajes desc;
"""

# Ejecutar query y devolver DataFrame
df = pd.read_sql(query, conn)

# Ver resultados
print(df)

Pregunta de Negocio 1: Demanda por zona y mes: ¿cuáles son las 10 zonas con más viajes por mes? (Dropoff Zone)

C:\Users\john8\AppData\Local\Temp\ipykernel_25788\143461761.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

     DROPOFF_ZONE_SK                  DROPOFF_ZONE  MES  TOTAL_DE_VIAJES
0                236         Upper East Side North    1          2861884
1                237         Upper East Side South    1          2536732
2                161                Midtown Center    1          2528088
3                170                   Murray Hill    1          2132406
4                230     Times Sq/Theatre District    1          2031040
5                162                  Midtown East    1          2015201
6                142           Lincoln Square East    1          1855314
7                234                      Union Sq    1          1853306
8                 48                  Clinton East    1          1824844
9                239         Upper West Side South    1          1791122
10               236         Upper East Side North    2          2691543
11               161                Midtown Center    2          2490805
12               237         Upper East Side South    2          2418777
13               170                   Murray Hill    2          2094787
14               230     Times Sq/Theatre District    2          1955761
15               162                  Midtown East    2          1954111
16               234                      Union Sq    2          1860958
17               142           Lincoln Square East    2          1788007
18                48                  Clinton East    2          1773091
19               239         Upper West Side South    2          1713795
20               236         Upper East Side North    3          2709602
21               161                Midtown Center    3          2627304
22               237         Upper East Side South    3          2496465
23               170                   Murray Hill    3          2241833
24               230     Times Sq/Theatre District    3          2135916
25               162                  Midtown East    3          2088389
26               234                      Union Sq    3          1923909
27                48                  Clinton East    3          1894196
28               142           Lincoln Square East    3          1830471
29               186  Penn Station/Madison Sq West    3          1807091
30               236         Upper East Side North    4          2682637
31               237         Upper East Side South    4          2503700
32               161                Midtown Center    4          2496550
33               170                   Murray Hill    4          2063931
34               230     Times Sq/Theatre District    4          2006900
35               162                  Midtown East    4          1962275
36               234                      Union Sq    4          1800270
37               142           Lincoln Square East    4          1765708
38                48                  Clinton East    4          1747580
39               239         Upper West Side South    4          1687870
40               236         Upper East Side North    5          2767143
41               237         Upper East Side South    5          2597851
42               161                Midtown Center    5          2520576
43               170                   Murray Hill    5          2044246
44               230     Times Sq/Theatre District    5          2024086
45               162                  Midtown East    5          1978255
46               142           Lincoln Square East    5          1826161
47               234                      Union Sq    5          1769042
48                48                  Clinton East    5          1745414
49               239         Upper West Side South    5          1735662
50               236         Upper East Side North    6          2503591
51               161                Midtown Center    6          2440443
52               237         Upper East Side South    6          2356573
53               170                   Murray Hill    6          2030813
54               162                  Midtown East    6          1958763
55               230     Times Sq/Theatre District    6          1955909
56                48                  Clinton East    6          1705533
57               234                      Union Sq    6          1694201
58               142           Lincoln Square East    6          1673577
59               186  Penn Station/Madison Sq West    6          1669179
60               161                Midtown Center    7          2317440
61               236         Upper East Side North    7          1975952
62               170                   Murray Hill    7          1943189
63               237         Upper East Side South    7          1940900
64               230     Times Sq/Theatre District    7          1933578
65               162                  Midtown East    7          1863486
66                48                  Clinton East    7          1658231
67               186  Penn Station/Madison Sq West    7          1630606
68               234                      Union Sq    7          1578965
69               163                 Midtown North    7          1470815
70               161                Midtown Center    8          2143446
71               170                   Murray Hill    8          1844855
72               230     Times Sq/Theatre District    8          1783966
73               236         Upper East Side North    8          1780363
74               237         Upper East Side South    8          1773358
75               162                  Midtown East    8          1740295
76                48                  Clinton East    8          1561832
77               186  Penn Station/Madison Sq West    8          1548818
78               234                      Union Sq    8          1512114
79               163                 Midtown North    8          1355319
80               236         Upper East Side North    9          2241069
81               237         Upper East Side South    9          2106575
82               161                Midtown Center    9          1996805
83               170                   Murray Hill    9          1793507
84               230     Times Sq/Theatre District    9          1693397
85               162                  Midtown East    9          1648272
86                48                  Clinton East    9          1557376
87               234                      Union Sq    9          1542710
88               186  Penn Station/Madison Sq West    9          1502154
89               142           Lincoln Square East    9          1477174
90               236         Upper East Side North   10          2644569
91               237         Upper East Side South   10          2469446
92               161                Midtown Center   10          2359999
93               170                   Murray Hill   10          1966569
94               162                  Midtown East   10          1907588
95               230     Times Sq/Theatre District   10          1880276
96               142           Lincoln Square East   10          1749210
97               234                      Union Sq   10          1686519
98                48                  Clinton East   10          1671387
99               239         Upper West Side South   10          1641198
100              236         Upper East Side North   11          2529045
101              237         Upper East Side South   11          2360339
102              161                Midtown Center   11          2244593
103              170                   Murray Hill   11          1821663
104              230     Times Sq/Theatre District   11          1801395
105              162                  Midtown East   11          1781878
106              142           Lincoln Square East   11          1642405
107              239         Upper West Side South   11          1584263
108               48                  Clinton East   11          1579953
109              234                      Union Sq   11          1540067
110              236         Upper East Side North   12          2501812
111              237         Upper East Side South   12          2316414
112              161                Midtown Center   12          2251177
113              230     Times Sq/Theatre District   12          1834676
114              170                   Murray Hill   12          1817895
115              162                  Midtown East   12          1804296
116              142           Lincoln Square East   12          1681718
117               48                  Clinton East   12          1636687
118              239         Upper West Side South   12          1601655
119              186  Penn Station/Madison Sq West   12          1576407

In [15]:
print("Pregunta de Negocio 2: Ingresos y propinas: ¿cómo varían los ingresos totales y el tip % por borough y mes? (Acorde a la zona de Pickup)")

# query para ingresos y propinas por borough y mes en pickup
query = """
with viajes_con_borough as (
    select 
        t.fare_amount,
        t.tip_percentage,
        dd.month as mes,
        dz.pickup_borough
    from ny_taxi.taxis_gold.fct_trips as t
    join ny_taxi.taxis_gold.dim_zone_pickup as dz using (pickup_zone_sk)
    join ny_taxi.taxis_gold.dim_date_pickup as dd using (pickup_date_sk)
    where t.fare_amount >= 0 and dz.pickup_borough is not null
)

select
    pickup_borough as pickup_borough,
    mes,
    sum(fare_amount) as ingresos_totales,
    avg(tip_percentage) as tip_porcentaje_promedio
from viajes_con_borough
group by pickup_borough, mes
order by pickup_borough, mes;
"""

# Ejecutar query y devolver DataFrame
df = pd.read_sql(query, conn)

# Ver resultados
print(df)

Pregunta de Negocio 2: Ingresos y propinas: ¿cómo varían los ingresos totales y el tip % por borough y mes? (Acorde a la zona de Pickup)

C:\Users\john8\AppData\Local\Temp\ipykernel_25788\1764391865.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   PICKUP_BOROUGH  MES  INGRESOS_TOTALES  TIP_PORCENTAJE_PROMEDIO
0           Bronx    1      5.313130e+06                 3.183229
1           Bronx    2      5.777583e+06                 2.997751
2           Bronx    3      6.742380e+06                 7.853459
3           Bronx    4      5.882890e+06                 3.397656
4           Bronx    5      6.078075e+06                 8.108270
5           Bronx    6      5.689661e+06                 3.796290
6           Bronx    7      5.256189e+06                 4.028097
7           Bronx    8      4.755351e+06                 3.889064
8           Bronx    9      4.606810e+06                 6.287741
9           Bronx   10      4.781924e+06                 5.053522
10          Bronx   11      4.391277e+06                 3.523584
11          Bronx   12      4.699306e+06                 3.442847
12       Brooklyn    1      3.930719e+07                12.595086
13       Brooklyn    2      3.972768e+07                12.595075
14       Brooklyn    3      4.356490e+07                12.694454
15       Brooklyn    4      4.157705e+07                12.816369
16       Brooklyn    5      4.408191e+07                13.071709
17       Brooklyn    6      3.977985e+07                12.538092
18       Brooklyn    7      3.607084e+07                12.347039
19       Brooklyn    8      3.337992e+07                12.315703
20       Brooklyn    9      3.395834e+07                12.072796
21       Brooklyn   10      3.631551e+07                12.753325
22       Brooklyn   11      3.223584e+07                12.395796
23       Brooklyn   12      3.308766e+07                12.529720
24            EWR    1      6.167766e+04                34.115167
25            EWR    2      6.253481e+04                16.281227
26            EWR    3      7.582986e+04                30.717853
27            EWR    4      7.427616e+04                27.422770
28            EWR    5      9.545702e+04               636.280746
29            EWR    6      9.240746e+04                38.921953
30            EWR    7      8.165830e+04                16.849940
31            EWR    8      7.690602e+04                24.257165
32            EWR    9      8.030500e+04                24.826552
33            EWR   10      9.285033e+04                42.147119
34            EWR   11      9.238065e+04                35.997159
35            EWR   12      1.011707e+05               561.541142
36      Manhattan    1      7.098814e+08                16.589699
37      Manhattan    2      7.163074e+08                16.869055
38      Manhattan    3      7.704848e+08                16.562583
39      Manhattan    4      7.375910e+08                16.340763
40      Manhattan    5      7.660442e+08                16.360176
41      Manhattan    6      7.255616e+08                16.527304
42      Manhattan    7      6.515958e+08                16.054103
43      Manhattan    8      5.967064e+08                15.967818
44      Manhattan    9      6.449344e+08                16.104664
45      Manhattan   10      7.169595e+08                16.433875
46      Manhattan   11      6.655354e+08                16.481608
47      Manhattan   12      6.776626e+08                16.413719
48         Queens    1      1.769574e+08                14.044483
49         Queens    2      1.631115e+08                14.285994
50         Queens    3      1.912132e+08                15.366025
51         Queens    4      1.865796e+08                14.193106
52         Queens    5      2.047492e+08                13.899982
53         Queens    6      1.956499e+08                14.014749
54         Queens    7      1.857098e+08                14.819950
55         Queens    8      1.733845e+08                13.567149
56         Queens    9      1.740924e+08                13.631297
57         Queens   10      1.833617e+08                14.406597
58         Queens   11      1.673210e+08                15.633389
59         Queens   12      1.652487e+08                14.296734
60  Staten Island    1      1.257254e+05                59.180095
61  Staten Island    2      1.215894e+05                 7.319350
62  Staten Island    3      1.321040e+05                13.993742
63  Staten Island    4      1.233252e+05                11.461678
64  Staten Island    5      1.150022e+05                11.057416
65  Staten Island    6      1.252549e+05                 8.421887
66  Staten Island    7      1.313089e+05                 7.959848
67  Staten Island    8      1.274358e+05                 6.789232
68  Staten Island    9      1.320901e+05                11.921028
69  Staten Island   10      1.418843e+05                 9.769834
70  Staten Island   11      1.256243e+05                 6.727333
71  Staten Island   12      1.432740e+05                 8.718163
72        Unknown    1      1.227354e+07                15.073685
73        Unknown    2      1.086129e+07                17.272097
74        Unknown    3      1.152738e+07                17.653121
75        Unknown    4      1.068468e+07                16.082657
76        Unknown    5      1.034043e+07                16.520961
77        Unknown    6      9.568254e+06                15.676264
78        Unknown    7      8.784945e+06                16.090600
79        Unknown    8      8.595064e+06                15.162604
80        Unknown    9      9.453356e+06                16.119949
81        Unknown   10      1.025685e+07                15.262980
82        Unknown   11      1.023271e+07                15.459953
83        Unknown   12      1.115719e+07                16.370296

In [16]:
print("Pregunta de Negocio 2: Ingresos y propinas: ¿cómo varían los ingresos totales y el tip % por borough y mes? (Acorde a la zona de Dropoff)")

# query para ingresos y propinas por borough y mes en dropoff
query = """
with viajes_con_borough as (
    select 
        t.fare_amount,
        t.tip_percentage,
        dd.month as mes,
        dz.dropoff_borough
    from ny_taxi.taxis_gold.fct_trips as t
    join ny_taxi.taxis_gold.dim_zone_dropoff as dz using (dropoff_zone_sk)
    join ny_taxi.taxis_gold.dim_date_dropoff as dd using (dropoff_date_sk)
    where t.fare_amount >= 0 and dz.dropoff_borough is not null
)

select
    dropoff_borough,
    mes,
    sum(fare_amount) as ingresos_totales,
    avg(tip_percentage) as tip_porcentaje_promedio
from viajes_con_borough
group by dropoff_borough, mes
order by dropoff_borough, mes;
"""

# Ejecutar query y devolver DataFrame
df = pd.read_sql(query, conn)

# Ver resultados
print(df)

Pregunta de Negocio 2: Ingresos y propinas: ¿cómo varían los ingresos totales y el tip % por borough y mes? (Acorde a la zona de Dropoff)

C:\Users\john8\AppData\Local\Temp\ipykernel_25788\4168734427.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   DROPOFF_BOROUGH  MES  INGRESOS_TOTALES  TIP_PORCENTAJE_PROMEDIO
0            Bronx    1      1.732992e+07                 5.190860
1            Bronx    2      1.751470e+07                 9.880922
2            Bronx    3      2.007580e+07                 4.895399
3            Bronx    4      1.850746e+07                 5.245061
4            Bronx    5      1.916864e+07                 5.353877
5            Bronx    6      1.811336e+07                 5.504375
6            Bronx    7      1.760628e+07                 5.397887
7            Bronx    8      1.679811e+07                 5.739658
8            Bronx    9      1.554678e+07                 5.485766
9            Bronx   10      1.558322e+07                 5.720034
10           Bronx   11      1.460026e+07                 6.174936
11           Bronx   12      1.560815e+07                 5.327784
12        Brooklyn    1      9.215182e+07                17.481327
13        Brooklyn    2      9.210284e+07                13.793136
14        Brooklyn    3      1.000222e+08                13.816105
15        Brooklyn    4      9.617491e+07                13.861053
16        Brooklyn    5      1.007795e+08                13.879727
17        Brooklyn    6      9.364369e+07                13.722775
18        Brooklyn    7      8.662821e+07                13.364593
19        Brooklyn    8      8.176697e+07                13.047616
20        Brooklyn    9      8.370380e+07                13.343962
21        Brooklyn   10      8.903362e+07                13.796953
22        Brooklyn   11      8.033558e+07                13.841985
23        Brooklyn   12      8.242168e+07                13.848092
24             EWR    1      7.843548e+06                32.213768
25             EWR    2      7.940861e+06                18.621290
26             EWR    3      9.445307e+06                17.105625
27             EWR    4      9.498324e+06                16.443767
28             EWR    5      1.092542e+07                55.596855
29             EWR    6      9.897892e+06                34.925191
30             EWR    7      8.897861e+06                35.555617
31             EWR    8      8.124596e+06                40.818500
32             EWR    9      8.729009e+06                25.658545
33             EWR   10      9.833874e+06                16.657159
34             EWR   11      9.305617e+06                17.211119
35             EWR   12      9.852958e+06                51.505206
36       Manhattan    1      6.969985e+08                16.169279
37       Manhattan    2      6.932315e+08                16.756711
38       Manhattan    3      7.494851e+08                16.503875
39       Manhattan    4      7.205109e+08                16.223619
40       Manhattan    5      7.487259e+08                16.194485
41       Manhattan    6      7.114741e+08                16.288964
42       Manhattan    7      6.430331e+08                15.925702
43       Manhattan    8      5.853082e+08                15.696933
44       Manhattan    9      6.329459e+08                15.973826
45       Manhattan   10      7.042216e+08                16.265532
46       Manhattan   11      6.533643e+08                16.388241
47       Manhattan   12      6.567305e+08                16.154720
48          Queens    1      1.074068e+08                11.467704
49          Queens    2      1.048663e+08                13.086286
50          Queens    3      1.216047e+08                12.667930
51          Queens    4      1.155265e+08                12.741828
52          Queens    5      1.287135e+08                12.080768
53          Queens    6      1.206678e+08                12.416707
54          Queens    7      1.097552e+08                12.211607
55          Queens    8      1.050355e+08                11.222962
56          Queens    9      1.061534e+08                12.000215
57          Queens   10      1.124150e+08                12.004773
58          Queens   11      1.029294e+08                12.386791
59          Queens   12      1.067352e+08                11.727863
60   Staten Island    1      1.007050e+06                20.874243
61   Staten Island    2      9.621955e+05                13.637807
62   Staten Island    3      1.072319e+06                13.706461
63   Staten Island    4      1.034942e+06                13.130796
64   Staten Island    5      1.073422e+06                62.970156
65   Staten Island    6      1.056388e+06                58.103743
66   Staten Island    7      1.031134e+06                58.883333
67   Staten Island    8      1.043857e+06                10.749887
68   Staten Island    9      9.789615e+05                12.222331
69   Staten Island   10      9.984827e+05                11.978610
70   Staten Island   11      9.156001e+05                11.395769
71   Staten Island   12      1.041421e+06                12.316675
72         Unknown    1      1.041662e+07                14.844461
73         Unknown    2      9.295731e+06                17.345298
74         Unknown    3      1.021688e+07                17.852956
75         Unknown    4      9.327749e+06                16.486321
76         Unknown    5      8.915216e+06                16.220681
77         Unknown    6      8.198467e+06                14.973780
78         Unknown    7      7.338932e+06                16.132494
79         Unknown    8      6.947918e+06                14.571302
80         Unknown    9      7.778691e+06                14.858203
81         Unknown   10      8.241374e+06                15.053038
82         Unknown   11      8.362150e+06                15.244694
83         Unknown   12      9.129552e+06                16.126637

In [ ]:
print("Pregunta 3: Velocidad y congestión: promedio de mph por franja horaria y borough (viajes diurnos vs. nocturnos). (Acorde a la zona de Pickup)")

# query para velocidad y congestión por franja horaria y borough en pickup
query = """
with viajes_clasificados as (
    select
        dz.pickup_borough,
        dt.hour,
        t.avg_speed_mph,
        case 
            when dt.hour between 6 and 18 then 'diurno'
            else 'nocturno'
        end as franja
    from ny_taxi.taxis_gold.fct_trips as t
    join ny_taxi.taxis_gold.dim_zone_pickup as dz using (pickup_zone_sk)
    join ny_taxi.taxis_gold.dim_time_pickup as dt using (pickup_time_sk)
    where t.avg_speed_mph > 0 and dz.pickup_borough is not null
)

select
    pickup_borough,
    franja,
    avg(avg_speed_mph) as avg_speed_mph_franja
from viajes_clasificados
group by pickup_borough, franja
order by pickup_borough, franja;
"""

# Ejecutar query y devolver DataFrame
df = pd.read_sql(query, conn)

# Ver resultados
print(df)

Pregunta 3: Velocidad y congestión: promedio de mph por franja horaria y borough (viajes diurnos vs. nocturnos). (Acorde a la zona de Pickup)

C:\Users\john8\AppData\Local\Temp\ipykernel_25788\3729858942.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   PICKUP_BOROUGH    FRANJA  AVG_SPEED_MPH_FRANJA
0           Bronx    diurno             12.659810
1           Bronx  nocturno             15.819488
2        Brooklyn    diurno             11.409301
3        Brooklyn  nocturno             13.721568
4             EWR    diurno             23.587869
5             EWR  nocturno             24.861647
6       Manhattan    diurno              9.848338
7       Manhattan  nocturno             12.413541
8          Queens    diurno             17.486334
9          Queens  nocturno             22.493090
10  Staten Island    diurno             20.700636
11  Staten Island  nocturno             25.836062
12        Unknown    diurno             10.722284
13        Unknown  nocturno             13.671384

In [18]:
print("Pregunta 3 (Dropoff): Velocidad y congestión: promedio de mph por franja horaria y borough (viajes diurnos vs. nocturnos). (Acorde a la zona de Dropoff)")

# query para velocidad y congestión por franja horaria y borough en dropoff
query = """
with viajes_clasificados as (
    select
        dz.dropoff_borough,
        dt.hour,
        t.avg_speed_mph,
        case 
            when dt.hour between 6 and 18 then 'diurno'
            else 'nocturno'
        end as franja
    from ny_taxi.taxis_gold.fct_trips as t
    join ny_taxi.taxis_gold.dim_zone_dropoff as dz using (dropoff_zone_sk)
    join ny_taxi.taxis_gold.dim_time_dropoff as dt using (dropoff_time_sk)
    where t.avg_speed_mph > 0 and dz.dropoff_borough is not null
)

select
    dropoff_borough,
    franja,
    avg(avg_speed_mph) as avg_speed_mph_franja
from viajes_clasificados
group by dropoff_borough, franja
order by dropoff_borough, franja;
"""

# Ejecutar query y devolver DataFrame
df = pd.read_sql(query, conn)

# Ver resultados
print(df)

Pregunta 3 (Dropoff): Velocidad y congestión: promedio de mph por franja horaria y borough (viajes diurnos vs. nocturnos). (Acorde a la zona de Dropoff)

C:\Users\john8\AppData\Local\Temp\ipykernel_25788\175565364.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   DROPOFF_BOROUGH    FRANJA  AVG_SPEED_MPH_FRANJA
0            Bronx    diurno             15.290128
1            Bronx  nocturno             20.865660
2         Brooklyn    diurno             12.995067
3         Brooklyn  nocturno             15.677464
4              EWR    diurno             27.783343
5              EWR  nocturno             31.757169
6        Manhattan    diurno              9.781775
7        Manhattan  nocturno             12.311956
8           Queens    diurno             17.947704
9           Queens  nocturno             17.951090
10   Staten Island    diurno             25.612771
11   Staten Island  nocturno             29.802124
12         Unknown    diurno             10.477197
13         Unknown  nocturno             13.135498

In [19]:
print("Pregunta 4: Duración del viaje: percentiles (p50/p90) de duración por PULocationID (pickup)")

# query para percentiles de tiempo de viaje por pickup location id
query = """
select
    dzp.pickup_location_id,
    dzp.pickup_borough,
    dzp.pickup_zone,
    percentile_cont(0.5) within group (order by t.trip_duration_seconds) as p50_duration_sec,
    percentile_cont(0.9) within group (order by t.trip_duration_seconds) as p90_duration_sec
from ny_taxi.taxis_gold.fct_trips as t
join ny_taxi.taxis_gold.dim_zone_pickup as dzp
    using (pickup_zone_sk)
group by dzp.pickup_location_id, dzp.pickup_borough, dzp.pickup_zone
order by dzp.pickup_location_id;
"""

# Ejecutar query y devolver DataFrame
df = pd.read_sql(query, conn)

# Ver resultados
print(df)

Pregunta 4: Duración del viaje: percentiles (p50/p90) de duración por PULocationID (pickup)

C:\Users\john8\AppData\Local\Temp\ipykernel_25788\563305843.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

     PICKUP_LOCATION_ID PICKUP_BOROUGH  \
0                     1            EWR
1                     2         Queens
2                     3          Bronx
3                     4      Manhattan
4                     5  Staten Island
5                     6  Staten Island
6                     7         Queens
7                     8         Queens
8                     9         Queens
9                    10         Queens
10                   11       Brooklyn
11                   12      Manhattan
12                   13      Manhattan
13                   14       Brooklyn
14                   15         Queens
15                   16         Queens
16                   17       Brooklyn
17                   18          Bronx
18                   19         Queens
19                   20          Bronx
20                   21       Brooklyn
21                   22       Brooklyn
22                   23  Staten Island
23                   24      Manhattan
24                   25       Brooklyn
25                   26       Brooklyn
26                   27         Queens
27                   28         Queens
28                   29       Brooklyn
29                   30         Queens
30                   31          Bronx
31                   32          Bronx
32                   33       Brooklyn
33                   34       Brooklyn
34                   35       Brooklyn
35                   36       Brooklyn
36                   37       Brooklyn
37                   38         Queens
38                   39       Brooklyn
39                   40       Brooklyn
40                   41      Manhattan
41                   42      Manhattan
42                   43      Manhattan
43                   44  Staten Island
44                   45      Manhattan
45                   46          Bronx
46                   47          Bronx
47                   48      Manhattan
48                   49       Brooklyn
49                   50      Manhattan
50                   51          Bronx
51                   52       Brooklyn
52                   53         Queens
53                   54       Brooklyn
54                   55       Brooklyn
55                   56         Queens
56                   57         Queens
57                   58          Bronx
58                   59          Bronx
59                   60          Bronx
60                   61       Brooklyn
61                   62       Brooklyn
62                   63       Brooklyn
63                   64         Queens
64                   65       Brooklyn
65                   66       Brooklyn
66                   67       Brooklyn
67                   68      Manhattan
68                   69          Bronx
69                   70         Queens
70                   71       Brooklyn
71                   72       Brooklyn
72                   73         Queens
73                   74      Manhattan
74                   75      Manhattan
75                   76       Brooklyn
76                   77       Brooklyn
77                   78          Bronx
78                   79      Manhattan
79                   80       Brooklyn
80                   81          Bronx
81                   82         Queens
82                   83         Queens
83                   84  Staten Island
84                   85       Brooklyn
85                   86         Queens
86                   87      Manhattan
87                   88      Manhattan
88                   89       Brooklyn
89                   90      Manhattan
90                   91       Brooklyn
91                   92         Queens
92                   93         Queens
93                   94          Bronx
94                   95         Queens
95                   96         Queens
96                   97       Brooklyn
97                   98         Queens
98                   99  Staten Island
99                  100      Manhattan
100                 101         Queens
101                 102         Queens
102                 103      Manhattan
103                 104      Manhattan
104                 105      Manhattan
105                 106       Brooklyn
106                 107      Manhattan
107                 108       Brooklyn
108                 109  Staten Island
109                 110  Staten Island
110                 111       Brooklyn
111                 112       Brooklyn
112                 113      Manhattan
113                 114      Manhattan
114                 115  Staten Island
115                 116      Manhattan
116                 117         Queens
117                 118  Staten Island
118                 119          Bronx
119                 120      Manhattan
120                 121         Queens
121                 122         Queens
122                 123       Brooklyn
123                 124         Queens
124                 125      Manhattan
125                 126          Bronx
126                 127      Manhattan
127                 128      Manhattan
128                 129         Queens
129                 130         Queens
130                 131         Queens
131                 132         Queens
132                 133       Brooklyn
133                 134         Queens
134                 135         Queens
135                 136          Bronx
136                 137      Manhattan
137                 138         Queens
138                 139         Queens
139                 140      Manhattan
140                 141      Manhattan
141                 142      Manhattan
142                 143      Manhattan
143                 144      Manhattan
144                 145         Queens
145                 146         Queens
146                 147          Bronx
147                 148      Manhattan
148                 149       Brooklyn
149                 150       Brooklyn
150                 151      Manhattan
151                 152      Manhattan
152                 153      Manhattan
153                 154       Brooklyn
154                 155       Brooklyn
155                 156  Staten Island
156                 157         Queens
157                 158      Manhattan
158                 159          Bronx
159                 160         Queens
160                 161      Manhattan
161                 162      Manhattan
162                 163      Manhattan
163                 164      Manhattan
164                 165       Brooklyn
165                 166      Manhattan
166                 167          Bronx
167                 168          Bronx
168                 169          Bronx
169                 170      Manhattan
170                 171         Queens
171                 172  Staten Island
172                 173         Queens
173                 174          Bronx
174                 175         Queens
175                 176  Staten Island
176                 177       Brooklyn
177                 178       Brooklyn
178                 179         Queens
179                 180         Queens
180                 181       Brooklyn
181                 182          Bronx
182                 183          Bronx
183                 184          Bronx
184                 185          Bronx
185                 186      Manhattan
186                 187  Staten Island
187                 188       Brooklyn
188                 189       Brooklyn
189                 190       Brooklyn
190                 191         Queens
191                 192         Queens
192                 193         Queens
193                 194      Manhattan
194                 195       Brooklyn
195                 196         Queens
196                 197         Queens
197                 198         Queens
198                 199          Bronx
199                 200          Bronx
200                 201         Queens
201                 202      Manhattan
202                 203         Queens
203                 204  Staten Island
204                 205         Queens
205                 206  Staten Island
206                 207         Queens
207                 208          Bronx
208                 209      Manhattan
209                 210       Brooklyn
210                 211      Manhattan
211                 212          Bronx
212                 213          Bronx
213                 214  Staten Island
214                 215         Queens
215                 216         Queens
216                 217       Brooklyn
217                 218         Queens
218                 219         Queens
219                 220          Bronx
220                 221  Staten Island
221                 222       Brooklyn
222                 223         Queens
223                 224      Manhattan
224                 225       Brooklyn
225                 226         Queens
226                 227       Brooklyn
227                 228       Brooklyn
228                 229      Manhattan
229                 230      Manhattan
230                 231      Manhattan
231                 232      Manhattan
232                 233      Manhattan
233                 234      Manhattan
234                 235          Bronx
235                 236      Manhattan
236                 237      Manhattan
237                 238      Manhattan
238                 239      Manhattan
239                 240          Bronx
240                 241          Bronx
241                 242          Bronx
242                 243      Manhattan
243                 244      Manhattan
244                 245  Staten Island
245                 246      Manhattan
246                 247          Bronx
247                 248          Bronx
248                 249      Manhattan
249                 250          Bronx
250                 251  Staten Island
251                 252         Queens
252                 253         Queens
253                 254          Bronx
254                 255       Brooklyn
255                 256       Brooklyn
256                 257       Brooklyn
257                 258         Queens
258                 259          Bronx
259                 260         Queens
260                 261      Manhattan
261                 262      Manhattan
262                 263      Manhattan
263                 264        Unknown
264                 265           None

                                       PICKUP_ZONE  P50_DURATION_SEC  \
0                                   Newark Airport              42.0
1                                      Jamaica Bay            1431.0
2                          Allerton/Pelham Gardens            1041.0
3                                    Alphabet City             687.0
4                                    Arden Heights            3801.5
5                          Arrochar/Fort Wadsworth             444.0
6                                          Astoria             510.0
7                                     Astoria Park             806.0
8                                       Auburndale            1092.0
9                                     Baisley Park            2474.0
10                                      Bath Beach            1227.0
11                                    Battery Park            1116.0
12                               Battery Park City             904.0
13                                       Bay Ridge            1055.0
14                         Bay Terrace/Fort Totten            1377.5
15                                         Bayside            1105.0
16                                         Bedford             636.0
17                                    Bedford Park             717.0
18                                       Bellerose            1144.0
19                                         Belmont             726.0
20                                Bensonhurst East            1293.0
21                                Bensonhurst West            1266.0
22                         Bloomfield/Emerson Hill            2819.0
23                                    Bloomingdale             601.0
24                                     Boerum Hill             712.0
25                                    Borough Park            1246.0
26             Breezy Point/Fort Tilden/Riis Beach            1455.0
27                         Briarwood/Jamaica Hills            1116.0
28                                  Brighton Beach            1141.0
29                                   Broad Channel            1047.0
30                                      Bronx Park            1013.0
31                                       Bronxdale            1018.0
32                                Brooklyn Heights             825.0
33                              Brooklyn Navy Yard             716.5
34                                     Brownsville            1116.0
35                                  Bushwick North             745.0
36                                  Bushwick South             694.0
37                                 Cambria Heights            2007.0
38                                        Canarsie            1482.0
39                                 Carroll Gardens             693.0
40                                  Central Harlem             498.0
41                            Central Harlem North             498.0
42                                    Central Park             652.0
43                          Charleston/Tottenville            3058.0
44                                       Chinatown             815.0
45                                     City Island            1831.0
46                              Claremont/Bathgate             727.0
47                                    Clinton East             626.0
48                                    Clinton Hill             664.0
49                                    Clinton West             650.0
50                                      Co-Op City            1444.0
51                                     Cobble Hill             746.0
52                                   College Point            1033.0
53                                 Columbia Street             785.0
54                                    Coney Island            1453.0
55                                          Corona             738.0
56                                          Corona             696.0
57                                    Country Club            1038.0
58                                    Crotona Park             853.0
59                               Crotona Park East             790.0
60                             Crown Heights North             701.0
61                             Crown Heights South             796.0
62                                   Cypress Hills            1371.0
63                                      Douglaston            1400.0
64                     Downtown Brooklyn/MetroTech             769.0
65                              DUMBO/Vinegar Hill             859.0
66                                   Dyker Heights            1143.0
67                                    East Chelsea             699.0
68                East Concourse/Concourse Village             692.0
69                                   East Elmhurst            1484.0
70                          East Flatbush/Farragut            1225.0
71                    East Flatbush/Remsen Village            1167.0
72                                   East Flushing            1129.0
73                               East Harlem North             599.0
74                               East Harlem South             542.0
75                                   East New York            1309.0
76               East New York/Pennsylvania Avenue            1293.0
77                                    East Tremont             747.0
78                                    East Village             656.0
79                               East Williamsburg             668.0
80                                     Eastchester            1248.0
81                                        Elmhurst             604.0
82                                Elmhurst/Maspeth             574.0
83               Eltingville/Annadale/Prince's Bay            2545.0
84                                         Erasmus             966.0
85                                    Far Rockaway            3338.0
86                        Financial District North             945.0
87                        Financial District South            1006.0
88                            Flatbush/Ditmas Park             931.0
89                                        Flatiron             595.0
90                                       Flatlands            1312.0
91                                        Flushing             730.0
92                    Flushing Meadows-Corona Park            1389.0
93                                   Fordham South             711.0
94                                    Forest Hills             599.0
95                       Forest Park/Highland Park             779.5
96                                     Fort Greene             714.0
97                                   Fresh Meadows            1125.0
98                                 Freshkills Park            2919.0
99                                Garment District             659.0
100                                      Glen Oaks            1489.0
101                                       Glendale             968.0
102  Governor's Island/Ellis Island/Liberty Island             833.0
103  Governor's Island/Ellis Island/Liberty Island             576.0
104  Governor's Island/Ellis Island/Liberty Island             866.0
105                                        Gowanus             666.0
106                                       Gramercy             622.0
107                                      Gravesend            1456.0
108                                    Great Kills            1815.0
109                               Great Kills Park             830.0
110                            Green-Wood Cemetery             542.0
111                                     Greenpoint             703.0
112                        Greenwich Village North             631.0
113                        Greenwich Village South             662.0
114                            Grymes Hill/Clifton            1631.0
115                               Hamilton Heights             625.0
116                                Hammels/Arverne            3121.0
117                    Heartland Village/Todt Hill            1997.0
118                                     Highbridge             746.0
119                                Highbridge Park             689.0
120                              Hillcrest/Pomonok             923.0
121                                         Hollis             935.0
122                                      Homecrest            1112.0
123                                   Howard Beach            1436.0
124                                      Hudson Sq             665.0
125                                    Hunts Point             755.0
126                                         Inwood             663.0
127                               Inwood Hill Park             799.5
128                                Jackson Heights             561.0
129                                        Jamaica             714.0
130                                Jamaica Estates            1093.0
131                                    JFK Airport            2365.0
132                                     Kensington             873.0
133                                    Kew Gardens             541.0
134                              Kew Gardens Hills             832.0
135                            Kingsbridge Heights             752.0
136                                       Kips Bay             605.0
137                              LaGuardia Airport            1738.0

In [26]:
print("Pregunta 5: Elasticidad temporal: distribución de viajes por día de semana y hora; ¿cuáles son las horas pico?")

# query para distribución de viajes por día de semana y hora
query = """
select
    dd.day_of_week,
    dt.hour as pickup_hour,
    count(*) as total_viajes
from ny_taxi.taxis_gold.fct_trips as t
join ny_taxi.taxis_gold.dim_date_pickup as dd using (pickup_date_sk)
join ny_taxi.taxis_gold.dim_time_pickup as dt using (pickup_time_sk)
group by dd.day_of_week, dt.hour
order by dd.day_of_week, total_viajes desc;
"""

# Ejecutar query y devolver DataFrame
df = pd.read_sql(query, conn)

# Ver resultados
print(df)

print("Acorde a los resultados obtenidos, se pueden identificar las horas pico son las siguientes: \nLunes: 18, 19\nMartes: 18, 19\nMiércoles: 18, 19\nJueves: 18, 19\nViernes: 18, 19\nSábado: 19, 18\nDomingo: 0, 18")

Pregunta 5: Elasticidad temporal: distribución de viajes por día de semana y hora; ¿cuáles son las horas pico?

C:\Users\john8\AppData\Local\Temp\ipykernel_25788\3992710429.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    DAY_OF_WEEK  PICKUP_HOUR  TOTAL_VIAJES
0       domingo            0       6189671
1       domingo           18       6098580
2       domingo           14       6079929
3       domingo           17       6015603
4       domingo           13       5984074
5       domingo           15       5948319
6       domingo           12       5896297
7       domingo           16       5847193
8       domingo           19       5500982
9       domingo            1       5462450
10      domingo           11       5389685
11      domingo           20       4979955
12      domingo           21       4708392
13      domingo           10       4669596
14      domingo            2       4273585
15      domingo           22       4159366
16      domingo            9       3450803
17      domingo            3       3292095
18      domingo           23       3253452
19      domingo            8       2314584
20      domingo            4       2110253
21      domingo            7       1547340
22      domingo            6       1113942
23      domingo            5       1009122
24       jueves           18       8075605
25       jueves           19       7908126
26       jueves           21       7555249
27       jueves           20       7516919
28       jueves           22       7073923
29       jueves           17       7022214
30       jueves           14       6636539
31       jueves           15       6544536
32       jueves            8       6345728
33       jueves           13       6174833
34       jueves           12       6145863
35       jueves            9       6132232
36       jueves           16       6014810
37       jueves           23       5905002
38       jueves           11       5866477
39       jueves           10       5776039
40       jueves            7       5185165
41       jueves            0       3194144
42       jueves            6       2871151
43       jueves            1       1856451
44       jueves            2       1139240
45       jueves            5       1106698
46       jueves            3        756500
47       jueves            4        708019
48        lunes           18       7284202
49        lunes           19       6714365
50        lunes           17       6587352
51        lunes           15       6103110
52        lunes           20       6090177
53        lunes           14       5963831
54        lunes           16       5812588
55        lunes           21       5785948
56        lunes            8       5520822
57        lunes           13       5497239
58        lunes           12       5408745
59        lunes            9       5400327
60        lunes           11       5134107
61        lunes           10       5076529
62        lunes           22       4929665
63        lunes            7       4462078
64        lunes           23       3495195
65        lunes            6       2622550
66        lunes            0       2164758
67        lunes            1       1291326
68        lunes            5       1070719
69        lunes            2        827266
70        lunes            4        657433
71        lunes            3        589628
72       martes           18       7884099
73       martes           19       7440112
74       martes           20       6990877
75       martes           21       6936430
76       martes           17       6894310
77       martes           15       6386545
78       martes           14       6384811
79       martes            8       6209176
80       martes           22       6082623
81       martes            9       6004870
82       martes           16       5936587
83       martes           13       5911056
84       martes           12       5871554
85       martes           11       5620683
86       martes           10       5596365
87       martes            7       5033335
88       martes           23       4387784
89       martes            6       2794049
90       martes            0       2198235
91       martes            1       1233405
92       martes            5       1035628
93       martes            2        741351
94       martes            4        537919
95       martes            3        495229
96    miércoles           18       7992801
97    miércoles           19       7782448
98    miércoles           20       7304296
99    miércoles           21       7286259
100   miércoles           17       6981755
101   miércoles           22       6616361
102   miércoles           14       6485363
103   miércoles           15       6443155
104   miércoles            8       6361201
105   miércoles            9       6132112
106   miércoles           13       6120747
107   miércoles           12       6102894
108   miércoles           16       5970046
109   miércoles           11       5837068
110   miércoles           10       5730952
111   miércoles            7       5152806
112   miércoles           23       5000737
113   miércoles            6       2828525
114   miércoles            0       2706967
115   miércoles            1       1533374
116   miércoles            5       1058405
117   miércoles            2        927269
118   miércoles            3        614925
119   miércoles            4        611778
120      sábado           19       7443142
121      sábado           18       7381729
122      sábado           23       6850791
123      sábado           22       6841594
124      sábado           17       6792927
125      sábado           15       6543327
126      sábado           13       6476572
127      sábado           20       6397788
128      sábado           14       6390612
129      sábado           21       6370627
130      sábado           12       6325198
131      sábado           16       6317546
132      sábado            0       6081391
133      sábado           11       5804201
134      sábado           10       5144386
135      sábado            1       5055932
136      sábado            9       4233561
137      sábado            2       4026465
138      sábado            8       2964516
139      sábado            3       2917135
140      sábado            7       1947564
141      sábado            4       1861561
142      sábado            6       1312235
143      sábado            5        976067
144     viernes           18       8046972
145     viernes           19       8042834
146     viernes           22       7193169
147     viernes           20       7066785
148     viernes           17       7041736
149     viernes           21       6950839
150     viernes           23       6883839
151     viernes           14       6556587
152     viernes           15       6463033
153     viernes           16       6026004
154     viernes           13       5979493
155     viernes           12       5955139
156     viernes            8       5919652
157     viernes            9       5823268
158     viernes           11       5731032
159     viernes           10       5578271
160     viernes            7       4773299
161     viernes            0       4249708
162     viernes            6       2728092
163     viernes            1       2714733
164     viernes            2       1729389
165     viernes            5       1168679
166     viernes            3       1137748
167     viernes            4        945006
Acorde a los resultados obtenidos, se pueden identificar las horas pico son las siguientes:
Lunes: 18, 19
Martes: 18, 19
Miércoles: 18, 19
Jueves: 18, 19
Viernes: 18, 19
Sábado: 19, 18
Domingo: 0, 18